{% extends "base.html.twig" %}

{% block content %}
	<!-- ***** Checks if js is activated within the browser ***** -->
	{% include "js-detection.html.twig" %}

	<!-- ***** Preloader Start ***** -->
	<div id="preloader">
		<div class="jumper">
			<div></div>
			<div></div>
			<div></div>
		</div>
	</div>
	<!-- ***** Preloader End ***** -->


	<!-- ***** Header Area Start ***** -->
	<header class="header-area header-sticky">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<nav class="main-nav">
						<!-- ***** Logo Start ***** -->
						<a href="#welcome" class="logo">Aioclic&nbsp;</a>
						<!-- ***** Logo End ***** -->
						<!-- ***** Menu Start ***** -->
						<ul class="nav">
							<li class="scroll-to-section">
								<a href="#welcome" class="active">Accueil</a>
							</li>
							<li class="scroll-to-section">
								<a href="#about">À propos</a>
							</li>
							<li class="scroll-to-section">
								<a href="#services">Services</a>
							</li>
							<li class="scroll-to-section">
								<a href="#frequently-question">Foire Aux Questions</a>
							</li>
							<li class="scroll-to-section">
								<a href="#contact-us">Nous contacter</a>
							</li>
							{# CHECKS IF SESSION IS EMPTY #}
							{% if session|length %}
								<li class="scroll-to-section">
									<div class="dropdown">
										<button class="btn dropdown-toggle" type="button" id="dropdownMenuButton"
												data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
											{{ session.nom }}
										</button>
										{# TODO: augmenter la hauteur du menu pour voir le dropdown #}
										<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
											<a class="dropdown-item" href="/logout">Déconnexion</a>
											<a class="dropdown-item" href="/profile">Profile</a>
											<a class="dropdown-item" href="/purchase">Souscription</a>
										</div>
									</div>
								</li>
								{# <li class="scroll-to-section"> #}
								{# <a href="/logout">{{ session.nom }}</a> #}
								{# </li> #}
							{% else %}
								<li class="scroll-to-section">
									<a href="/login">Connexion</a>
								</li>
								<li class="scroll-to-section">
									<a href="/register">Inscription</a>
								</li>
							{% endif %}
							{# CHECKS IF SESSION IS EMPTY #}
						</ul>
						<a class='menu-trigger'>
							<span>Menu</span>
						</a>
						<!-- ***** Menu End ***** -->
					</nav>
				</div>
			</div>
		</div>
	</header>
	<!-- ***** Header Area End ***** -->


	<!-- ***** Welcome Area Start ***** -->
	<div class="welcome-area" id="welcome">

		<!-- ***** Header Text Start ***** -->
		<div class="header-text">
			<div class="container">
				<div class="row">
					<div class="left-text col-lg-6 col-md-6 col-sm-12 col-xs-12"
						 data-scroll-reveal="enter left move 30px over 0.6s after 0.4s">
						<h1>
							<strong id="alternativeTitle">Aioclic</strong>
						</h1>
						<p>Le premier service de sites en streaming</p>
						<a href="#about" class="main-button-slider">Find Out More</a>
					</div>
					<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12"
						 data-scroll-reveal="enter right move 30px over 0.6s after 0.4s">
						<img src="{{ asset('images/slider-icon.png') }}" class="rounded img-fluid d-block mx-auto"
							 alt="First Vector Graphic">
					</div>
				</div>
			</div>
		</div>
		<!-- ***** Header Text End ***** -->
	</div>
	<!-- ***** Welcome Area End ***** -->


	<!-- ***** Features Big Item Start ***** -->
	<section class="section" id="about">
		<div class="container">
			<div class="row">
				<div class="col-lg-7 col-md-12 col-sm-12"
					 data-scroll-reveal="enter left move 30px over 0.6s after 0.4s">
					<img src="{{ asset('images/left-image.png') }}" class="rounded img-fluid d-block mx-auto" alt="App">
				</div>
				<div class="right-text col-lg-5 col-md-12 col-sm-12 mobile-top-fix">
					<div class="left-heading">
						<h5>Fatigué de sécuriser vos applications web ou de mettre en place un VPN ?</h5>
					</div>
					<div class="left-text">
						<p>Aioclic est la première application web qui te permet d'accéder à d'autres sites en
							streaming.&nbsp;</p>
						<p>Pas d'installation requise, pas de code, juste choisi ton serveur et navigue le web tout en
							restant sur le meme site : aioclic.com&nbsp; &nbsp;&nbsp;</p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12">
					<div class="hr"></div>
				</div>
			</div>
		</div>
	</section>
	<!-- ***** Features Big Item End ***** -->


	<!-- ***** Features Small Start ***** -->
	<section class="section mt-5" id="services" data-scroll-reveal="enter bottom move 30px over 0.6s after 0.4s">
		<div class="container">
			<div class="row">
				<div class="owl-carousel owl-theme owlCar1">
					<div class="item service-item">
						<div class="icon">

							<svg width="4em" height="4em" viewbox="0 0 16 16" class="bi bi-lock" fill="white"
								 xmlns="http://www.w3.org/2000/svg">
								<path fill-rule="evenodd"
									  d="M11.5 8h-7a1 1 0 0 0-1 1v5a1 1 0 0 0 1 1h7a1 1 0 0 0 1-1V9a1 1 0 0 0-1-1zm-7-1a2 2 0 0 0-2 2v5a2 2 0 0 0 2 2h7a2 2 0 0 0 2-2V9a2 2 0 0 0-2-2h-7zm0-3a3.5 3.5 0 1 1 7 0v3h-1V4a2.5 2.5 0 0 0-5 0v3h-1V4z"/>
							</svg>

						</div>
						<h5 class="service-title">Sécurité</h5>
						<p>Naviguez le web sans avoir à vous soucier des virus</p>
					</div>
					<div class="item service-item">
						<div class="icon">

							<svg width="4em" height="4em" viewbox="0 0 16 16" class="bi bi-person" fill="white"
								 xmlns="http://www.w3.org/2000/svg">
								<path fill-rule="evenodd"
									  d="M13 14s1 0 1-1-1-4-6-4-6 3-6 4 1 1 1 1h10zm-9.995-.944v-.002.002zM3.022 13h9.956a.274.274 0 0 0 .014-.002l.008-.002c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664a1.05 1.05 0 0 0 .022.004zm9.974.056v-.002.002zM8 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm3-2a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
							</svg>

						</div>
						<h5 class="service-title">Anonymat</h5>
						<p>Restez inconnu à tout moment</p>
					</div>
					<div class="item service-item">
						<div class="icon">
							<svg width="4em" height="4em" viewbox="0 0 16 16" class="bi bi-arrow-left-right"
								 fill="white" xmlns="http://www.w3.org/2000/svg">
								<path fill-rule="evenodd"
									  d="M10.146 7.646a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L12.793 11l-2.647-2.646a.5.5 0 0 1 0-.708z"/>
								<path fill-rule="evenodd"
									  d="M2 11a.5.5 0 0 1 .5-.5H13a.5.5 0 0 1 0 1H2.5A.5.5 0 0 1 2 11zm3.854-9.354a.5.5 0 0 1 0 .708L3.207 5l2.647 2.646a.5.5 0 1 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 0 1 .708 0z"/>
								<path fill-rule="evenodd"
									  d="M2.5 5a.5.5 0 0 1 .5-.5h10.5a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
							</svg>
						</div>
						<h5 class="service-title">Rapidité</h5>
						<p>Améliorez la vitesse de chargement de vos pages sur tous les appareils</p>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- ***** Features Small End ***** -->


	<!-- ***** Features Big Item Start ***** -->
	<section class="section" id="about2">
		<div class="container">
			<div class="row">
				<div class="left-text col-lg-5 col-md-12 col-sm-12 mobile-bottom-fix">
					<div class="left-heading">
						<h5>Changes ta facon de voir le web&nbsp;&nbsp;</h5>
					</div>
					<p>Plus de virus, plus d'inquiétudes&nbsp; &nbsp;</p>
					<ul>
						<li>
							<img src="{{ asset('images/about-icon-01.png') }}" alt="">
							<div class="text">
								<h6>Connectez-vous sur n'importe quel site depuis nos serveurs performants</h6>
								<p>&nbsp;</p>
							</div>
						</li>
						<li>
							<img src="{{ asset('images/about-icon-02.png') }}" alt="">
							<div class="text">
								<h6>Débloquer le contenu du web reservé aux autres pays tout en restant dans
									l'anonymité</h6>
								<p>&nbsp;</p>
							</div>
						</li>
						<li>
							<img src="{{ asset('images/about-icon-03.png') }}" alt="">
							<div class="text">
								<h6>Plus de virus</h6>
								<p>
									<a rel="nofollow" href="https://templatemo.com/contact">&nbsp;</a>
								</p>
							</div>
						</li>
					</ul>
				</div>
				<div class="right-image col-lg-7 col-md-12 col-sm-12 mobile-bottom-fix-big"
					 data-scroll-reveal="enter right move 30px over 0.6s after 0.4s">
					<img src="{{ asset('images/right-image.png') }}" class="rounded img-fluid d-block mx-auto"
						 alt="App">
				</div>
			</div>
		</div>
	</section>
	<!-- ***** Features Big Item End ***** -->


	<!-- ***** Features Small Start ***** -->
	<section class="section" id="services" data-scroll-reveal="enter bottom move 30px over 0.6s after 0.4s">
		<div class="container">
			<div class="row">
				<div class="owl-carousel owl-theme owlCar2">
					<div class="item service-item">
						<div class="icon">
							<i><img src="{{ asset('images/service-icon-01.png') }}" alt=""></i>
						</div>
						<h5 class="service-title">Offre n°1</h5>
						<p>Pour 8€, accès au VPN pour 1 poste.</p>
						{# IF USER IS LOGGED IN, CREATES PURCHASE BUTTON #}
						{% if session|length %}
							<button class="btn btn-info purchaseButton"><a href="/purchase">Acheter</a></button>
						{% endif %}
					</div>
					<div class="item service-item">
						<div class="icon">
							<i><img src="{{ asset('images/service-icon-01.png') }}" alt=""></i>
						</div>
						<h5 class="service-title">Offre n°2</h5>
						<p>Pour 10€, accès au VPN pour 2 postes.</p>
						{# IF USER IS LOGGED IN, CREATES PURCHASE BUTTON #}
						{% if session|length %}
							<button class="btn btn-info purchaseButton"><a href="/purchase">Acheter</a></button>
						{% endif %}
					</div>
					<div class="item service-item">
						<div class="icon">
							<i><img src="{{ asset('images/service-icon-01.png') }}" alt=""></i>
						</div>
						<h5 class="service-title">Offre n°3</h5>
						<p>Pour 35€, accès au VPN pour 7 postes.</p>
						{# IF USER IS LOGGED IN, CREATES PURCHASE BUTTON #}
						{% if session|length %}
							<button class="btn btn-info purchaseButton"><a href="/purchase">Acheter</a></button>
						{% endif %}
					</div>
					<div class="item service-item">
						<div class="icon">
							<i><img src="{{ asset('images/service-icon-01.png') }}" alt=""></i>
						</div>
						<h5 class="service-title">Offre n°4</h5>
						<p>Pour 99€, accès illimité au VPN.</p>
						{# IF USER IS LOGGED IN, CREATES PURCHASE BUTTON #}
						{% if session|length %}
							<button class="btn btn-info purchaseButton"><a href="/purchase">Acheter</a></button>
						{% endif %}
					</div>
				</div>
			</div>
			<p style="font-size:20px;font-weight:400">3 jours offerts lors de n'importe quel achat</p>
		</div>
	</section>
	<!-- ***** Features Small End ***** -->


	<!-- ***** Frequently Question Start ***** -->
	<section class="section" id="frequently-question">
		<div
				class="container">
			<!-- ***** Section Title Start ***** -->
			<div class="row">
				<div class="col-lg-12">
					<div class="section-heading">
						<h2>Foire aux questions</h2>
					</div>
				</div>
				<!-- <div class="offset-lg-3 col-lg-6">
													<div class="section-heading">
														<p>Here's&nbsp; the more asked questions will be answered.&nbsp; &nbsp; &nbsp; &nbsp;</p>
													</div>
												</div> -->
			</div>
			<!-- ***** Section Title End ***** -->

			<div class="row">
				<div class="left-text col-lg-6 col-md-6 col-sm-12">
					<h5>Voici les questions les plus fréquentes sur aioclic</h5>
					<div class="accordion-text">
						<span>Email:
							<a href="#">fredon.alban@gmail.com</a><br></span>
						<a href="#contact-us" class="main-button">Contactez-nous</a>
					</div>
				</div>
				<div class="col-lg-6 col-md-6 col-sm-12">
					<div class="accordions is-first-expanded">
						<article class="accordion">
							<div class="accordion-head">
								<span>Qu'est ce qu'aioclic ?</span>
								<span class="icon">
									<i class="icon fa fa-chevron-right"></i>
								</span>
							</div>
							<div class="accordion-body">
								<div class="content">
									<p>Aioclic est un service web de streaming avec un vpn integré qui te permet
										d'explorer le web en toute securité et anonymité.</p>
								</div>
							</div>
						</article>
						<article class="accordion">
							<div class="accordion-head">
								<span>Pourquoi utiliser aioclic ?</span>
								<span class="icon">
									<i class="icon fa fa-chevron-right"></i>
								</span>
							</div>
							<div class="accordion-body">
								<div class="content">
									<p>Parce-que c'est facile d'utilisation, beaucoup plus facile que d'installer et de
										configurer un vpn ou tor. Juste choisi un serveur et mets ton lien dans la barre
										de recherche et c'est fini.</p>
								</div>
							</div>
						</article>
						<article class="accordion">
							<div class="accordion-head">
								<span>
									Ta question ici ;)</span>
								<span class="icon">
									<i class="icon fa fa-chevron-right"></i>
								</span>
							</div>
							<div class="accordion-body">
								<div class="content">
									<br><br>
								</div>
							</div>

						</article>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- ***** Frequently Question End ***** -->

	<!-- ***** Contact Us Start ***** -->
	<section class="section" id="contact-us" data-scroll-reveal="enter bottom move 30px over 0.6s after 0.4s">
		<div class="container-fluid">
			<div
					class="row">
				<!-- ***** Contact Form Start ***** -->
				<div class="col-lg-12 col-md-12 col-sm-12">
					<div class="contact-form">
						<form id="contact" action="" method="post">
							<div class="row">
								<div class="col-md-6 col-sm-12">
									<fieldset>
										<input name="name" type="text" id="name" placeholder="Nom Complet" required=""
											   class="contact-field">
									</fieldset>
								</div>
								<div class="col-md-6 col-sm-12">
									<fieldset>
										<input name="email" type="text" id="email" placeholder="E-mail" required=""
											   class="contact-field">
									</fieldset>
								</div>
								<div class="col-lg-12">
									<fieldset>
                                        <textarea name="message" rows="6" id="message" placeholder="Ton Message"
												  required="" class="contact-field"></textarea>
									</fieldset>
								</div>
								<div class="col-lg-12">
									<fieldset>
										<button type="submit" id="form-submit" class="main-button">Nous contacter
										</button>
									</fieldset>
								</div>
							</div>
						</form>
					</div>
				</div>
				<!-- ***** Contact Form End ***** -->
			</div>
		</div>
	</section>
	<!-- ***** Contact Us End ***** -->


	<!-- ***** Footer Start ***** -->
	<div class="footer navbar-fixed-bottom mt-5 contact-form" style="padding:2%!important">
		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-9">
					<p class="text-center footerText" style="margin-top:2%">@Aioclic 2020</p>
					<p class="text-center footerText" style="margin-top:5%;font-size: 0.85rem;">*Tous les prix sont hors
						taxes.</p>
				</div>
				<div
						class="col-lg-3">
					<!-- ***** Newsletter Form Start ***** -->
					<form id="contact" action="" method="post">
						<div class="row">
							<div class="col-lg-12">
								<fieldset>
									<input name="email" type="text" id="email" placeholder="E-mail" required=""
										   class="contact-field">
								</fieldset>
							</div>
							<div class="col-lg-12">
								<fieldset>
									<button type="submit" id="form-submit" class="main-button">Inscription newsletter
									</button>
								</fieldset>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<!-- ***** Footer End ***** -->

{% endblock %}

{% block extraJs %}
	<script src="{{ asset('/js/cookieAndModals.js') }}"></script>
	<script src="{{ asset('/js/custom.js') }}"></script>
{% endblock %}
